/* start coding here */
input {
    height: 50px;
    width: 240px;
    border-radius: 3px;
}

button {
    height: 36px;
    width: 120px;
    border: 3px solid lightgrey;
    background-color: khaki;
}